@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$navMargin: 10rem;

.App {
  text-align: center;
  font-family: 'Lora', serif;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}


#Nav {
  display: block;
  background-color:grey;
  align-items: center;
  text-align: center;
}

#content {
  display: flex;
}

h3 {
  display: inline-block;
  margin-left: $navMargin;
  margin-right: $navMargin;
}

