@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$navMargin: 10rem;

.App {
  text-align: center;
  font-family: 'Lora', serif;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}


#Nav {
  display: block;
  background-color:grey;
  align-items: center;
  text-align: center;
}

#content {
  width: 100vw;
  background-color: red;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h3 {
  display: inline-block;
  margin-left: $navMargin;
  margin-right: $navMargin;
}

.Listen {
  width: 100vw;
  height: 50vh;
  background-color: green;
  display: block;
}

.AlbumNavButton{
  border: 1px solid black;
  background-color: red;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
}
