@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$backGroundColor: grey;
$navMargin: 7rem;
$buttonMargin: 1rem;
$mediaMinWidth: 480px;

.App {
  text-align: center;
  font-family: 'Lora', serif;
  background-color: black;
  color: white;
  background-color: $backGroundColor;
  width: 100vw;
  height: 100vh;
}


#Nav {
  display: block;
  position: relative;
}

.header {
  align-items: center;
  height: 10vh;
  font-size: 8vh;
}

#content {
  display: block;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.blurb {
  margin: 1.2rem;
  margin-top: 2rem;
  display: inline-block;
  width: 50vw;
}

.pictureBox {
  width: 50vw;
  height: 50vh;
  border: solid black 1px;
  display: inline-block;
}

.pageNav {
  display: inline-block;
  margin-left: $navMargin;
  margin-right: $navMargin;
  cursor: pointer;
  font-size: 1.5rem;  
}

.Listen {
  width: 100vw;
  height: 50vh;
  display: block;
}

.AlbumNavButton {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.AlbumView {
  display: block;
  align-items: center;
  text-align: center;
  position: "relative";
}

.footer {
  display: block;
  height: 5vh;
  // background-color: pink;
}

.socialIcon {
  height: 42px;
  width: 42px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}